:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --lightgray--color: #F1F1F1;
    --border-color: #C8C8C8;
    --border-color-dark: #767676;
    --base-tech-color: #AC3B3B;
    --normal-tech-color: #246767;
    --advanced-tech-color: #7DA137;
    --advanced-tech-color-dark: #587916;
}